<% include ../header.ejs %>

<div id="content">
	<div id="content-header">
		<div id="breadcrumb">
			<a href="#" class="tip-bottom"><i class="icon-home"></i>交易管理</a>
			<a href="#" class="current">放款</a>
		</div>
		<h1>放款</h1>
	</div>
	<div class="container-fluid">
		<div class="loading">
			<img src="/images/jiazai.gif" alt="">
		</div>
		<hr>
		
		
		<div class="xiangqing_list" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(205, 205, 205);">
			<a  class="btn2 cur1" href="/deal/credit" target="liquidation">放款</a>
			<a  class="btn2" href="/deal/pushSingle" target="liquidation">推单</a>
			<a  class="btn2" href="/deal/gatheringDeal" target="liquidation">还款</a>
			<a  class="btn2" href="/deal/refund"  target="liquidation">退款</a>
<!--			<a  class="btn2" href="/deal/serviceCharge" target="liquidation">服务费</a>
-->			<!--<a  class="btn btn-primary" href="/deal/capitalLoan" class="btn btn-primary" target="liquidation">资金放款</a>-->
			<a  class="btn2" href="/deal/cash"  target="liquidation">兑付</a>
            <a  class="btn2" href="/deal/repayearly"  target="liquidation">提前还款</a>
		</div>

		<hr>
		<div class="row-fluid">
			<div class="widget-box">
				<div class="widget-content nopadding">
					<form class="form-horizontal" method="post" action="">
						<table class="table table-striped">
							<tbody>
								<tr class="odd gradeX">
									<td width="85" style="white-space: nowrap;">交易时间 :</td>
									<td width="600" style="white-space: nowrap;">
										<input type="text" class="input" id="datepicker" readonly="readonly" name="repaymentStart">
										<input type="text" class="input" id="datepicker1" readonly="readonly" name="repaymentEnd">
									</td>
									<td width="85" style="white-space: nowrap;">时间类型 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" v-model="timeType">
											<option value="1">创建时间</option>
											<option value="2">放款时间</option>
											<option value="3">打款成功时间</option>
										</select>
									</td>
									
									
									
								</tr>
								<tr>
									<td width="85" style="white-space: nowrap;">业务类型 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" v-model="billType">
											<!--<option value="0">返佣</option>-->
											<option value="1">商品结算</option>
											<option value="2">现金贷</option>
										</select>
									</td>
									<td width="85" style="white-space: nowrap;"> 放款流水号:</td>
									<td width="" style="white-space: nowrap;">
										<input type="text" class="input" v-model="merTrandNo">
									</td>
								</tr>
								<tr class="odd gradeX">
									
									<td width="85" style="white-space: nowrap;">交易状态 :</td>
									<td width="" style="white-space: nowrap;">
										<select name=""  v-model="payStatus">
											<option value="">所有</option>
											<option value="0">待打款</option>
											<option value="1">打款成功</option>
											<option value="2">打款失败</option>
											<option value="3">已提交三方打款（打款中）</option>
											<option value="4">撤单</option>
										</select>
									</td>
									<td width="85" style="white-space: nowrap;"> 账单号:</td>
									<td width="" style="white-space: nowrap;">
										<input type="text" class="input" name="" v-model="billNo">
									</td>
								</tr>
								<tr class="odd gradeX">
									<td width="85" style="white-space: nowrap;">账户主体 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" id="" required v-model="company">
											<option value="">所有</option>
											<option v-for="bb in licenseList" v-bind:value="bb.id" v-text="bb.enterpriseName"></option>
										</select>
									</td>
									<td width="85" style="white-space: nowrap;">放款渠道 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" v-model="payType">
											<option value="">所有</option>
											<option value="13">连连付款</option>
											<option value="2">易行通代付款</option>
											<option value="7">中业兴融</option>
											<option value="4">团贷提付款</option>
											<option value="5">线下放款</option>
											<option value="6">京东代付款</option>
											
										</select>
									</td>
														
								</tr>
								<tr>
									<td width="85" style="white-space: nowrap;">基础订单号 :</td>
									<td width="" style="white-space: nowrap;"><input type="text" class="input" name="" v-model="cashId" oninput="this.value=this.value.replace(/\D/g,'');if(isNaN(value))execCommand('undo');" ></td>	
										<td width="85" style="white-space: nowrap;">对账账户 :</td>
									<td width="" style="white-space: nowrap;"><input type="text" class="input" name="" v-model="userInfo" >
									<span style="margin-left: 20px">
											<button type="button" id="submit" class="btn btn-success" @click="listenDate(1)">查找</button>
	                                    	<button type="button" id="submit" class="btn btn-success" @click="resets()" >重置</button>
                                    	</span>
									</td>
								</tr>

								
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
		<hr>
		<div class="row-fluid">
			<div class="span6">
				<div class="row-fluid">
					<div class="span12">
						<div class="span-box-one" style="background: rgb(255, 255, 255);">
							<p><span style="font-size: 28px;" id="tjCount">0</span><br><span style="margin: 0px 10px;">总订单数</span></p>
						</div>
					</div>
					<!---->
				</div>
			</div>
			<div class="span6">
				<div class="row-fluid">
					<div class="span12">
						<div class="span-box-one" style="background: rgb(255, 255, 255);">
							<p><span style="font-size: 28px;" id="tjAmount">0</span><br><span style="margin: 0px 10px;">总交易额</span></p>
						</div>
					</div>
					<!---->
				</div>
			</div>
		</div>
		<hr>
		<div class="row-fluid tab-two" style="display: none">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
						<h5>订单明细</h5>
					</div>
					<div class="widget-content nopadding" id="common_list">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>创建时间</th>
									<th>业务类型</th>
									<th>账单号</th>
									<th>放款流水号</th>
									<th>我方账户</th>
									<th>支付渠道</th>
									<th>对方账户名|银行卡</th>
									<th>交易金额</th>
									<th>状态</th>
									<th>基础订单号</th>
									<th width="100" style="white-space: nowrap;">操作</th>
								</tr>
							</thead>
							<tbody class="table_toggle">
								<tr v-for="msg in collectionList">
									<td>{{msg.createTime | time}}</td>
									<td v-text="msg.dataTypeName"></td>
									<td v-text="msg.rebateNo"></td>
									<td v-text="msg.merTrandNo"></td>
									<td v-text="msg.company"></td>
									<td v-text="msg.payChannelName"></td>
									<td >{{msg.userName}} {{msg.bankNo}}</td>
									<td v-text="msg.rebateMoney"></td>
									<td v-text="msg.payStatusName"></td>
									<td v-text="msg.objId"></td>
									<td>
										<a href="/basics/particulars" target="liquidation" class="btn_a detailA" @click="tui(msg.appId,msg.objId)">详情</a>
									</td>
									<!--
									<td v-text="msg.phone"></td>
									<td v-text="msg.idCard"></td>
									<td v-text="msg.approveAmount"></td>
									<td v-text="msg.appName"></td>
									<td v-if="msg.fundChannel=='1'">玖富</td>
									<td v-else-if="msg.fundChannel=='2'">蜡笔</td>
									<td v-else-if="msg.fundChannel=='3'">团贷</td>
									<td v-else-if="msg.fundChannel=='4'">小鸡</td>
									<td v-else-if="msg.fundChannel=='5'">自己放款</td>
									<td v-else-if="msg.fundChannel=='6'">拿财</td>
									<td v-if="msg.status=='0'">未提交</td>
									<td v-else-if="msg.status=='1'">申请</td>
									<td v-else-if="msg.status=='2'">审核通过</td>
									<td v-else-if="msg.status=='3'">审核拒绝</td>
									<td v-else-if="msg.status=='4'">放弃签合同</td>
									<td v-else-if="msg.status=='5'">还款中</td>
									<td v-else-if="msg.status=='6'">渠道拒绝</td>
									<td v-else-if="msg.status=='7'">待人工审核</td>
									<td v-else-if="msg.status=='8'">待打款</td>
									<td v-else-if="msg.status=='10'">已还清</td>
									<td v-else-if="msg.status=='11'">用户借款确认</td>
									<td v-else-if="msg.status=='12'">撤单</td>
									<td v-else></td>
									<td>{{msg.createTime | time}}</td>
									<td>详情</td>-->
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table_toggle1" style="display: none;">暂无数据</div>
				</div>
			</div>
			<div id="page" style="display: none">
				<vue-nav :cur.sync="cur" :all.sync="all" v-on:btn-click="listenDate"></vue-nav>
			</div>
		</div>
	</div>
	<% include ../footer.ejs %>

	<script>
		$(function() {
			//dataTime(1);
			$("#time_one").click();
			$(".pay_list").click();
			$(".enquiries").click();
		})
	</script>
	<script>
		function dataTime(num) { ////console.log(num)
			var yugi = function(num) {
				var now1 = new Date;
				var getFullYear = now1.getFullYear();
				var getMonth = now1.getMonth() + 1;
				var getDate = now1.getDate();
				var DateTime1 = getFullYear + "-" + getMonth + "-" + getDate;
				$("#datepicker1").val(DateTime1)
				var now = new Date;
				now.setDate(now.getDate() - num);
				var getFullYear = now.getFullYear();
				var getMonth = now.getMonth() + 1;
				var getDate = now.getDate();
				var DateTime = getFullYear + "-" + getMonth + "-" + getDate;
				$("#datepicker").val(DateTime)
				if(num == "1") {
					$("#datepicker").val(DateTime);
					$("#datepicker1").val(DateTime);
				}
				var timestamp = new Date();
				//alert(starttimeHaoMiao);
				var DateTime_starttimeHaoMiao = DateTime;
				var DateTime_starttimeHaoMiao1 = DateTime1;
				var starttimeHaoMiao = (new Date(DateTime_starttimeHaoMiao)).getTime();
				var starttimeHaoMiao1 = (new Date(DateTime_starttimeHaoMiao1)).getTime();
				$("#starttimeHaoMiao").val(starttimeHaoMiao)
				$("#starttimeHaoMiao1").val(starttimeHaoMiao1)
				return now;
			}
			yugi(num);
		}

		$(function() {

			$("#datepicker").datepicker({
				changeMonth: true,
				changeYear: true,
				yearRange: "1900:2050",
			})
			$("#datepicker1").datepicker({
				changeMonth: true,
				changeYear: true,
				yearRange: "1900:2050",
			})
		});
	</script>
	<script type="text/javascript" src="/javascripts/bower_components/jquery/jquery.min.js"></script>
	<script src="/javascripts/time_filter.js"></script>

	<script src="/javascripts/jquery-ui.js"></script>
	<script src="/javascripts/vue-2.42.js"></script>
	<script src="/javascripts/vue-resource.js"></script>
	<script src="/javascripts/public_page.js"></script>
	<script src="/javascripts/time_filter.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/jquery.flot.min.js"></script>
	<script src="/javascripts/jquery.flot.pie.min.js"></script>
	<script src="/javascripts/jquery.flot.resize.min.js"></script>
	<script src="/javascripts/matrix.js"></script>
	<script src="/javascripts/jquery.peity.min.js"></script>
	<script>
		var total = "";
		var datasets = "";
		new Vue({
			el: '#content',
			data: {
				all: 0, //总页数
				cur: 1, //当前页码
				cashId:"",
				billNo:"",
				payStatus:"",
				billType:"1",
				merTrandNo:"",
				userInfo:"",
				payType:"",
				beginDate:"",
				endDate:"",
				company: "", //公司主体
				licenseList: "",
				totalNum:"",
				totalAmount:"",
				collectionList:"",
				timeType:"1",
		
			},
			components: {
				'vue-nav': pagenav
			},
			watch: {
				timeType: function(oldValue, newValue) {
					if(this.timeType==""){
						$("#datepicker").val("");
						$("#datepicker1").val("");
					}
				}
			},
			mounted: function() {
				this.time();
				this.qyList();
				this.listenDate(this.cur);
			},
			methods: {
				listenDate: function(data) {
					$(".loading").show();
					$(".tab-two").show();
					$("#page").show();
					var _this = this;
					var beginDate = $("#datepicker").val();
					var endDate = $("#datepicker1").val();
					var cashId = parseInt(this.cashId);
					//console.log(typeof(cashId))
					var timeType = parseInt(this.timeType);
					var billNo = this.billNo;
					var payStatus = parseInt(this.payStatus);
					var billType = parseInt(this.billType);
					var merTrandNo = this.merTrandNo;
					var userInfo = this.userInfo;
					var company = parseInt(this.company);
					var payType = parseInt(this.payType);
					var pageSize = 10;
					if(this.timeType!=""){
						if(beginDate=="" || endDate==""){
							alert("请选择交易时间段");
							$(".tab-two").hide();
							$("#page").hide();
							$("#tjCount").html(0);
                        	$("#tjAmount").html(0+"元");
                        	$(".loading").hide();
							return false;
						}
					}
					if(beginDate!="" || endDate!=""){
						if(this.timeType==""){
							alert("请选择时间类型");
							$(".tab-two").hide();
							$("#page").hide();
							$("#tjCount").html(0);
                        	$("#tjAmount").html(0+"元");
                        	$(".loading").hide();
							return false;
						}
					}
					
					this.$http.post("/deal/bill/getBillList", {
						"pageNum": data,
						"pageSize": pageSize,
						"timeType": timeType,
						"beginDate": beginDate,
						"endDate": endDate,
						"cashId": cashId,
						"billNo": billNo,
						"payStatus": payStatus,
						"billType": billType,
						"merTrandNo": merTrandNo,
						"userInfo": userInfo,
						"company": company,
						"payType": payType,
					}).then(function(res) {
						//console.log(res);
						$(".loading").hide();
						if(res.body.code == "D1007") {
							alert(res.body.msg);
							return false;
						}
						if(res.body.code == "D1006") {
							alert(res.body.msg);
							return false;
						}
						_this.collectionList = res.body.res.cashList.res;
						//console.log(_this.collectionList)
						_this.pageTotal = res.body.res.cashList.total;
						_this.totalNum = res.body.res.totalNum;
						_this.totalAmount = res.body.res.totalAmount;
						if(_this.collectionList==""){
							$(".table_toggle1").show();
						}else{
							$(".table_toggle1").hide();
						}
						$(".table_toggle").show();
						if(data <= 1) {
							total = Math.ceil(_this.pageTotal / 10);
							localStorage.setItem("total", _this.totalNum);
							localStorage.setItem("Amount", _this.totalAmount);
							var totals=localStorage.getItem("total");
							var Amount=localStorage.getItem("Amount");
							$("#tjCount").html(totals);
							if(Amount=="undefined"){
								$("#tjAmount").html(0+"元");
							}else{
								$("#tjAmount").html(Amount+"元");
							}
                        	
						}
						_this.all = total;
						_this.cur = data;
					});

				},
				time:function(){
            		var seperator1 = "-";

	                var startDate = new Date();
	                startDate.setDate(startDate.getDate()-7);
	                var startYear = startDate.getFullYear();
	                var startMonth = startDate.getMonth()+1;
	                if(startMonth < 10) startMonth = "0"+startMonth;
	                var startDay = startDate.getDate();
	                if(startDay < 10) startDay = "0"+startDay;
	                var endDate = new Date();
	                var endYear = endDate.getFullYear();
	                var endMonth = endDate.getMonth()+1;
	                if(endMonth < 10) endMonth = "0"+endMonth;
	                var endDay = endDate.getDate();
	                if(endDay < 10) endDay = "0"+endDay;
	                var currentdate = startYear + seperator1 + startMonth + seperator1 + startDay;
	                var currentdate1 = endYear + seperator1 + endMonth + seperator1 + endDay;
	                $("#datepicker").val(currentdate);
	                $("#datepicker1").val(currentdate1);
           		},
				resets:function(){
	        		$("#datepicker").val("");
	        		$("#datepicker1").val("");
					this.timeType="";
					this.beginDate="";
					this.endDate="";
					this.cashId="";
					this.billNo="";
					this.payStatus="";
					this.billType="";
					this.merTrandNo="";
					this.userInfo="";
					this.company="";
					this.payType="";
	        	},
				
				//企业列表查询
				qyList: function() {
					var _this = this;
					this.$http.post("/pay/product/jsonEnt").then(function(res) {
						// //console.log(res)
						this.licenseList = res.body.res.enterprise;
					});
				},
                tui:function(appid,cashId){
                    if(appid == "1147483647"){
                        $(".detailA").attr("href", "/basics/particulars1");
                    }
            	    sessionStorage.setItem('appid',appid);
            	    sessionStorage.setItem('dealId',cashId);
                },
			}
		})
	</script>
	
	<!--Real-time-chart-js-->
