<% include ../header.ejs %>

<!--交易管理--收款交易查询-->

<div id="content">
	<div id="content-header">
		<div id="breadcrumb">
			<a href="#" class="tip-bottom"><i class="icon-home"></i>往来交易</a>
			<a href="#" class="current">还款</a>
		</div>
					<h1>还款</h1>

	</div>
	<div class="container-fluid">
		<div class="loading">
			<img src="/images/jiazai.gif" alt="">
		</div>
        <hr>
		
		<div class="xiangqing_list" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(205, 205, 205);">
			<a  class="btn2" href="/deal/credit" target="liquidation">放款</a>
			<a  class="btn2" href="/deal/pushSingle" target="liquidation">推单</a>
			<a  class="btn2 cur1" href="/deal/gatheringDeal" target="liquidation">还款</a>
			<a  class="btn2" href="/deal/refund"  target="liquidation">退款</a>
<!--			<a  class="btn2" href="/deal/serviceCharge" target="liquidation">服务费</a>
-->			<!--<a  class="btn btn-primary" href="/deal/capitalLoan" class="btn btn-primary" target="liquidation">资金放款</a>-->
			<a  class="btn2" href="/deal/cash"  target="liquidation">兑付</a>
		</div>

		<hr>
		<div class="row-fluid">
			<div class="xiangqing_list1" >
				<a  class="btn3" href="/deal/gatheringDeal" target="liquidation">代扣/代收</a>
				<a  class="btn3 cur1" href="#" target="liquidation">对公还款</a>
			</div>
			
			
			<div class="widget-box">
				<div class="widget-content nopadding">
					<form class="form-horizontal" id="signupForm" method="post" action="">
						<table class="table table-striped">
							<tbody>
								<tr class="odd gradeX">
									<td width="85" style="white-space: nowrap;">交易时间 :</td>
									<td width="600" style="white-space: nowrap;">
										<input type="text" class="input" id="datepicker" readonly="readonly" name="start">
										<input type="text" class="input" id="datepicker1" readonly="readonly" name="end">
									</td>
									<td width="85" style="white-space: nowrap;">时间类型 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" v-model="dateType">
											<option value="1">创建时间</option>
											<option value="2">更新时间</option>
											
										</select>
									</td>

									
								</tr>
								<tr>
									<td width="85" style="white-space: nowrap;">业务类型 :</td>
									<td width="" style="white-space: nowrap;">
										<select name=""  v-model="busType">
											<option value="1">商品贷</option>
											<option value="2">现金贷</option>
											<option value="3">商城</option>
										</select>
									</td>
									<td width="85" style="white-space: nowrap;">用户账户 :</td>
									<td width="" style="white-space: nowrap;"><input type="text" class="input" name="" v-model="buyers"></td>
									<!--<td width="85" style="white-space: nowrap;">交易订单号 :</td>
									<td width="" style="white-space: nowrap;">
										<input type="text" class="input"  v-model="transactionFlowNo">
									</td>-->
								</tr>
								<tr class="odd gradeX">
									
									<td width="85" style="white-space: nowrap;">交易状态 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" v-model="status">
											<option value="">所有</option>
											<option value="1">未扣款</option>
											<option value="2">待扣款确认</option>
											<option value="3">扣款成功</option>
											<option value="4">扣款失败</option>
										</select>
									</td>
									<td width="85" style="white-space: nowrap;">商户订单号 :</td>
									<td width="" style="white-space: nowrap;">
										<input type="text" class="input" name="" v-model="id">
									</td>
								</tr>
								<tr class="odd gradeX">
									<td width="85" style="white-space: nowrap;">账户主体 :</td>
									<td width="" style="white-space: nowrap;">
										<!--<select name="" id="" required v-model="payee">-->
										<select name="" id="" v-model="payee">
											<option value="">所有</option>
											<option v-for="bb in licenseList" v-bind:value="bb.id" v-text="bb.enterpriseName"></option>
										</select>
									</td>
									<td width="85" style="white-space: nowrap;">支付渠道 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" v-model="channelId">
											<option value="">所有</option>
											<option value="1">其他（扣款，预约扣款）</option>
											<option value="2">手机银行</option>
											<option value="3">支付宝</option>
											<option value="4">银行缴存</option>
										</select>
										
									</td>
									
								</tr>
								<tr>
									<td width="85" style="white-space: nowrap;" >基础订单号 :</td>
									<td width="" style="white-space: nowrap;"><input type="text" class="input" name="" v-model="baseOrderId" oninput="this.value=this.value.replace(/\D/g,'');if(isNaN(value))execCommand('undo');"></td>	
									<td><span style="margin-left: 20px">
											<button type="button" id="submit" class="btn btn-success" @click="listenDate(1)">查找</button>
	                                    	<button type="button" id="submit" class="btn btn-success" @click="resets()" >重置</button>
                                    	</span></td>
									<td></td>
								</tr>
								
							</tbody>
						</table>
					</form>

				</div>
			</div>
		</div>

		<hr>
        <div class="row-fluid">
			<div class="span6">
					<div class="span12">
						<div class="span-box-one" style="background: rgb(255, 255, 255);">
							<p><span style="font-size: 28px;" id="tjCount">0</span><br><span style="margin: 0px 10px;">已还款订单数</span></p>
						</div>
					</div>
			</div>
			<div class="span6">
					<div class="span12">
						<div class="span-box-one" style="background: rgb(255, 255, 255);">
							<p><span style="font-size: 28px;" id="tjAmount">0元</span><br><span style="margin: 0px 10px;">实际还款金额</span></p>
						</div>
					</div>
			</div>
		</div>
        <hr>
		<div class="row-fluid tab-two" style="display: none">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
						<h5></h5>
					</div>
					<div class="widget-content nopadding" id="common_list">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>创建时间</th>
									<th>业务类型</th>
									<th>交易订单号</th>
									<th>商户订单号</th>
									<th>我方账户</th>
									<th>支付渠道</th>
									<th>用户</th>
									<th>银行</th>
									<th>银行卡</th>
									<th>扣款金额</th>
									<th>状态</th>
									<th>失败原因</th>
									<th>详情</th>
									<th width="130" style="white-space: nowrap;">操作</th>
								</tr>
							</thead>
							<tbody class="table_toggle">
							<tr v-for="msg in collectionList">
                                    <td>{{msg.createTime | time}}</td>
									<td v-text="msg.commodityName"></td>
									<td v-text="msg.id"></td>
									<td v-text="msg.id"></td>
									<td v-text="msg.enterpriseName"></td>
									<td v-text="msg.channelName"></td>
									<td v-text="msg.buyers"></td>
									<td v-text="msg.bankName"></td>
									<td v-text="msg.buyersAccount"></td>
									<td v-text="msg.amount/100"></td>

									<td v-if="msg.status=='1'">未扣款</td>
									<td v-else-if="msg.status=='2'">待扣款确认</td>
									<td v-else-if="msg.status=='3'">扣款成功</td>
									<td v-else-if="msg.status=='4'">扣款失败</td>
									
									<td v-else>其他</td>

									<td v-text="msg.refundReason"></td>



                                    <!--
									<td>{{msg.createTime | time}}</td>
									<td v-text="msg.transactionFlowNo"></td>
									<td v-text="msg.id"></td>
									<td v-text="msg.commodityName"></td>
									<td v-text="msg.channelName"></td>
									<td v-text="msg.amount/100"></td>
									<td v-if="msg.status=='0'">待支付</td>
									<td v-else-if="msg.status=='1'">支付成功</td>
									<td v-else-if="msg.status=='2'">失败</td>
									<td v-else>其他</td>

									<td v-if="msg.refundStatus=='0'">初始状态</td>
									<td v-else-if="msg.refundStatus=='1'">待审核</td>
									<td v-else-if="msg.refundStatus=='2'">退款中</td>
									<td v-else-if="msg.refundStatus=='3'">已退回</td>
									<td v-else-if="msg.refundStatus=='4'">已退款</td>
									<td v-else-if="msg.refundStatus=='5'">退款失败</td>
									<td v-else></td>
									<td v-text="msg.enterpriseName"></td>
									<td v-text="msg.buyers"></td>
									<td v-text="msg.buyersAccount"></td>
									 <td v-text="msg.updateTime"></td>
									<td>{{msg.updateTime | time}}</td>
                                     -->
									<!-- <td style="display: none;" @click="disableBtn(msg.status,msg.refundStatus)"></td> -->
									<!-- <td width="100" style="white-space: nowrap;">
										<button v-if="msg.status=='1' && msg.refundStatus!='1' && msg.refundStatus!='2' && msg.refundStatus!='4'" class="btn-info btn-mini float_btn_cen" @click="refund(msg.id)" data-toggle="modal" data-target="#myModal">{{msg.refundStatus}}</button>
										<button v-else class="btn-mini float_btn_cen" @click="refund(msg.id,msg.status,msg.refundStatus)">{{msg.refundStatus}}</button>
									</td> -->
									<td><a href="/basics/particulars" target="liquidation" class="btn_a detailA" @click="tui(msg.appid,msg.id)" >详情</a></td>
									<td>
										 
										<div v-if="msg.status=='1' && msg.refundStatus!='1' && msg.refundStatus!='2' && msg.refundStatus!='4'" >
											<!-- <button class="btn-info btn-mini float_btn_cen" @click="refund(msg.id)" data-toggle="modal" data-target="#myModal" v-if="msg.refundStatus=='1'">待审核</button> -->
											<!-- <button class="btn-info btn-mini float_btn_cen" @click="refund(msg.id)" data-toggle="modal" data-target="#myModal" v-if="msg.refundStatus=='2'">退款中</button> -->
											<button class="btn btn-info btn-mini float_btn_cen" @click="refund(msg.id)" data-toggle="modal" data-target="#myModal" v-if="msg.refundStatus=='3'">申请退款</button>
											<!-- <button class="btn-info btn-mini float_btn_cen" @click="refund(msg.id)" data-toggle="modal" data-target="#myModal" v-if="msg.refundStatus=='4'">已退款</button> -->
											<button class="btn btn-info btn-mini float_btn_cen" @click="refund(msg.id)" data-toggle="modal" data-target="#myModal" v-if="msg.refundStatus=='5'">申请退款</button>
											<button class="btn btn-info btn-mini float_btn_cen" @click="refund(msg.id)" data-toggle="modal" data-target="#myModal" v-if="msg.refundStatus=='0'">申请退款</button>
										</div>

										<div v-else-if="msg.status=='1' && msg.refundStatus!='0' && msg.refundStatus!='3' && msg.refundStatus!='5'"  >
											<span style="text-align:center;display: block;" v-if="msg.refundStatus=='1'">待审核</span>
											<span style="text-align:center;display: block;" v-if="msg.refundStatus=='2'">退款中</span>
											<span style="text-align:center;display: block;" v-if="msg.refundStatus=='4'">已退款</span>
										</div>

										<div v-else-if="msg.status!='1'">

										</div>
                                       
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table_toggle1" style="display: none;">暂无数据</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
						<h4 class="modal-title" id="myModalLabel">
								申请退款
							</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row-fluid">
								<form id="addNewRule">
									<div class="widget-content nopadding form-horizontal">
										<input type="hidden" id="druleId" name="druleId">
										<div class="control-group">
											<label class="control-label" style="width: 150px">创建时间 :</label>
											<div class="controls">
												<input type="text" disabled v-model="createTime_1"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" style="width: 150px">商户订单号 :</label>
											<div class="controls">
												<input type="text" disabled v-model="buyersIdCard_1"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" style="width: 150px">商品名称 :</label>
											<div class="controls">
												<input type="text" disabled v-model="commodityName_1"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" style="width: 150px">支付通道 :</label>
											<div class="controls">
												<input type="text" disabled v-model="channelName_1"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" style="width: 150px">退款金额 :</label>
											<div class="controls">
												<input type="text" v-model="amount_1" onkeyup="value=value.replace(/\.\d{2,}$/,value.substr(value.indexOf('.'),3))"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" style="width: 150px">退款户名 :</label>
											<div class="controls">
												<input type="text" disabled v-model="buyers_1"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" style="width: 150px">退款账号 :</label>
											<div class="controls">
												<input type="text" disabled v-model="buyersAccount_1"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" style="width: 150px">退款原因 :</label>
											<div class="controls">
												<textarea name="" rows="" cols="" v-model="refundReason"></textarea>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" style="width: 150px">附件材料 :</label>
											<div class="controls">
												<div id="showAttrs">
													<div v-for="msg in mbTransactionAttList" class="qiniu" style="position: relative;">
													<span><img :src="msg.path" :id="msg.id" :transactionId="msg.transactionId"></span>
													<b onclick="dels(this)" style="position: absolute;right: 0;top: 0;"><img src="../../images/close.png" @click="delImg(msg.id)"></b>
													<div class="img_path" :data_path="msg.path"></div>
													</div>
                                                </div>
                                                <input type="hidden" id="attrs" value="" name="attrs">
												<button type="button" id="ADDsubmit" class="btn btn-success" >添加附件</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id="btn-default" data-dismiss="modal" >关闭</button>
						<button type="button" class="btn btn-primary" @click="applyRefund(id_1)">
								申请退款
							</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<div id="page" style="display: none">
			<vue-nav :cur.sync="cur" :all.sync="all" v-on:btn-click="listenDate"></vue-nav>
		</div>
	</div>
	<!--上传内容-->
<div class="modal" id="shangchuan_list" style="display: none;">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closes()">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel"  >
                    上传文件
                </h4>
                <input type="hidden" id="pictureType">
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <div class="" style="width: 100%">

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="demo" aria-labelledby="demo-tab">

                                    <div class="" style="margin-top: 20px;">
                                        <input type="hidden" id="domain" value="http://7xocov.com1.z0.glb.clouddn.com/">
                                        <input type="hidden" id="uptoken_url" value="/pay/product/getUploadToken">

                                        <div class="col-md-12">
                                            <div id="container">
                                                <a class="btn btn-primary " id="pickfiles" href="#" style="margin-left: 20px">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    <span>选择文件</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <table class="table table-striped table-hover text-left"   style="margin-top:20px;display:none">
                                                <thead>
                                                <tr>
                                                    <th class="col-md-4">文件名</th>
                                                    <th class="col-md-2">大小</th>
                                                    <th class="col-md-6">详情</th>
                                                </tr>
                                                </thead>
                                                <tbody id="fsUploadProgress">
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closes()">关闭</button>
                <input type="button" class="btn btn-primary addimg fileBtn" value="上传" id="" onclick="closes()" />

            </div>
        </div>


    </div>

</div>
</div>

<% include ../footer.ejs %>

<script src="/javascripts/jquery.min.js"></script>

<script>

	// function number(e){
	// 	var shu = $(e).val();
	// 	if(shu.toString().split(".")[1].length>2){
	// 		$(e).val("");
	// 		alert("金额请保留两位小数");

	// 	}
	// }

	$(function(){
		// $("#one").click();
		// $("#submit").click();
		$("#ADDsubmit").click(function(){
			$("#shangchuan_list").show();
			$("#logoUrl").val("");
			$("#fsUploadProgress").html("");
		})
	})
	function closes(){
		$("#shangchuan_list").hide();
	}
	function dels(e) {
		    var attrsVal=$("#attrs").val();
		    var arr=attrsVal.split(',');
		    arr.splice($(e).parent(".qiniu").index(),1);
		    var arrs= arr.join(",");
		    $("#attrs").val(arrs);
		    $(e).parents(".qiniu").remove();
		    return arr;
		}
</script>

<script>

	function dataTime(num) {
		////console.log(num)
		var yugi = function(num) {
			var now1 = new Date;
			var getFullYear = now1.getFullYear();
			var getMonth = now1.getMonth() + 1;
			var getDate = now1.getDate();
			var DateTime1 = getFullYear + "-" + getMonth + "-" + getDate;
			$("#datepicker1").val(DateTime1)
			var now = new Date;
			now.setDate(now.getDate() - num);
			var getFullYear = now.getFullYear();
			var getMonth = now.getMonth() + 1;
			var getDate = now.getDate();
			var DateTime = getFullYear + "-" + getMonth + "-" + getDate;
			//console.log(getDate);
			$("#datepicker").val(DateTime)
			if(num == "1") {
				$("#datepicker").val(DateTime);
				$("#datepicker1").val(DateTime);
			}
			var timestamp = new Date();
			//alert(starttimeHaoMiao);
			var DateTime_starttimeHaoMiao = DateTime;
			var DateTime_starttimeHaoMiao1 = DateTime1;
			var starttimeHaoMiao = (new Date(DateTime_starttimeHaoMiao)).getTime();
			var starttimeHaoMiao1 = (new Date(DateTime_starttimeHaoMiao1)).getTime();

			$("#starttimeHaoMiao").val(starttimeHaoMiao)
			$("#starttimeHaoMiao1").val(starttimeHaoMiao1)
			return now;

		}
		yugi(num);
	}

	$(function() {

		$("#datepicker").datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange: "1900:2050",
		})
		$("#datepicker1").datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange: "1900:2050",
		})
		/*$("#reset").click(function(){
			$("#signupForm").find("input,select").val("")
		})*/
	});

dataTime(0);
</script>


<script src="/javascripts/vue-resource.js"></script>
<script src="/javascripts/public_page.js"></script>
<script src="/javascripts/time_filter.js"></script>

<script type="text/javascript" src="/javascripts/bower_components/plupload/js/moxie.js"></script>
<script type="text/javascript" src="/javascripts/bower_components/plupload/js/plupload.dev.js"></script>
<script type="text/javascript" src="/javascripts/bower_components/plupload/js/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/javascripts/scripts/ui.js"></script>
<script type="text/javascript" src="/javascripts/src/qiniu.js"></script>
<script type="text/javascript" src="/javascripts/scripts/highlight.js"></script>
<script type="text/javascript" src="/javascripts/scripts/mainDeal.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
<script src="/javascripts/jquery-ui.js"></script>

<script type="text/javascript">

var total = "";
	var pageBar = new Vue({
        el: '#content',
        data: {
            all: 0, //总页数
            cur: 1,//当前页码
            msg:'',
            

            channelId:"",
				status:"",
				id:"",
				transactionFlowNo:"",
				payee:"",
				buyers:"",
				dateType:"1",
				start:"",
				end:"",
				busType:"1",
				baseOrderId:"",
				refundStatus:"",

            traCount:"",

            zfList:"",
            licenseList:"",
            pageTotal:"",
            collectionList:"",
            refundList:"",
            amount_1:"",
            buyers_1:"",
            buyersAccount_1:"",
            buyersIdCard_1:"",
            buyersPhone_1:"",
            channelName_1:"",
            commodityName_1:"",
            createTime_1:"",
            id_1:"",
            refundReason:"",
            mbTransactionAttList:""
        },
        components:{
            'vue-nav':pagenav
        },
        watch: {
            cur: function(oldValue , newValue){
                // //console.log('监听cur前与后的值：');
                // //console.log(arguments);
            }
        },
        mounted:function(){
        	this.time();
        	this.listenDate(this.cur);
            //this.traCountFun();
            this.qyList();
			this.payList();
			this.disableBtn();
			
		},
        methods:{
            listenDate:function(data){
				var _this = this;
				var start = parseInt((new Date($("#datepicker").val())).getTime()-28800000);
				var end = parseInt((new Date($("#datepicker1").val())).getTime()-28800000+86399000);
				var cha = end-start;
				/*if(cha>2678400000){
					alert("时间间隔过长，请重新选择时间段");
					return false;
				}*/

                var channelId = this.channelId;
                    var status = this.status;
                    var id = this.id;
                    var payee = this.payee;
                    var buyers = this.buyers;
                    var dateType = this.dateType;
                    var busType = this.busType;
                    var baseOrderId = this.baseOrderId;
				var pageSize = 10;
				if(dateType!=""){
						if(isNaN(start) || isNaN(end)){
							alert("请选择交易时间段");
							$(".tab-two").hide();
							$("#page").hide();
							$("#tjCount").html(0);
                        	$("#tjAmount").html(0+"元");
							return false;
						}
					}
					if(isNaN(start)==false || isNaN(end)==false){
						if(dateType==""){
							alert("请选择时间类型");
							$(".tab-two").hide();
							$("#page").hide();
							$("#tjCount").html(0);
                        	$("#tjAmount").html(0+"元");
							return false;
						}
					}
					if(data == 1) this.traCountFun();
				$(".loading").show();
            	$(".tab-two").show();
            	$("#page").show();
				this.$http.post("/deal/mbTransaction/jsonTraPublic",{
						"pageNum": data,
						"pageSize": pageSize,
						"channelId": channelId,
						"status": status,
						"id": id,
						"payee": payee,
						"buyers": buyers,
						"dateType": dateType,
						"busType": busType,
						"baseOrderId": baseOrderId,
						"start": start,
						"end": end,
					}).then(function(res){
					 //console.log(res);
					$(".loading").hide();
					 if(res.body.code=="D1007"){
					 	alert(res.body.msg);
					 	return false;
					 }
					 if(res.body.code=="D1006"){
					 	alert(res.body.msg);
					 	return false;
					 }
					 _this.collectionList = res.body.res.mbTransaction.res;
					 _this.pageTotal = res.body.res.mbTransaction.total;
					 if(_this.collectionList==""){
							$(".table_toggle1").show();
						}else{
							$(".table_toggle1").hide();
						}
					 $(".table_toggle").show();
                    if (data<=1) {
						total = Math.ceil(_this.pageTotal/10);
					}
					   _this.all = total;
					   _this.cur = data;
				});
	        },
	        time:function(){
            		var seperator1 = "-";

	                var startDate = new Date();
	                startDate.setDate(startDate.getDate()-7);
	                var startYear = startDate.getFullYear();
	                var startMonth = startDate.getMonth()+1;
	                if(startMonth < 10) startMonth = "0"+startMonth;
	                var startDay = startDate.getDate();
	                if(startDay < 10) startDay = "0"+startDay;
	                var endDate = new Date();
	                var endYear = endDate.getFullYear();
	                var endMonth = endDate.getMonth()+1;
	                if(endMonth < 10) endMonth = "0"+endMonth;
	                var endDay = endDate.getDate();
	                if(endDay < 10) endDay = "0"+endDay;
	                var currentdate = startYear + seperator1 + startMonth + seperator1 + startDay;
	                var currentdate1 = endYear + seperator1 + endMonth + seperator1 + endDay;
	                $("#datepicker").val(currentdate);
	                $("#datepicker1").val(currentdate1);
           		},
	        resets:function(){
	        		$("#datepicker").val("");
	        		$("#datepicker1").val("");
					//var end = $("#datepicker").val();
					this.channelId="";
					this.status="";
					this.id="";
					this.transactionFlowNo="";
					this.payee="";
					this.buyers="";
					this.dateType="";
					this.busType="";
					this.baseOrderId="";
					this.start="";
					this.end="";
					
	        },
            payList:function(){
            	this.$http.post("/deal/mbTransaction/jsonPayCfg").then(function(res){
                	 this.zfList=res.body.res.payChannelConfig;
				});
            },
            //企业列表查询
            qyList: function() {
                var _this = this;
                this.$http.post("/pay/product/jsonEnt").then(function(res) {
                    // //console.log(res)
                    this.licenseList = res.body.res.enterprise;
                });
            },
            tui:function(appid,id){
            	if(appid == "1147483647"){
                        $(".detailA").attr("href", "/basics/particulars1");
                   }
            	sessionStorage.setItem('appid',appid);
                sessionStorage.setItem('id',id);
                sessionStorage.setItem('isid',"1");
                sessionStorage.setItem('isOrderId',"2");
            },
            refund:function(id){
    			this.$http.post("/deal/mbTransaction/oneTra",{"id":id}).then(function(res){
	            	////console.log(res)
	            	var money=res.body.res.mbTransaction.amount;
	            	this.amount_1=money/100;
	            	var createTime_1=res.body.res.mbTransaction.createTime;
	                this.createTime_1=new Date(createTime_1).toLocaleString();
	            	this.buyers_1=res.body.res.mbTransaction.buyers;
	            	this.buyersAccount_1=res.body.res.mbTransaction.buyersAccount;
	            	this.buyersIdCard_1=res.body.res.mbTransaction.buyersIdCard;
	            	this.buyersPhone_1=res.body.res.mbTransaction.buyersPhone;
	            	this.channelName_1=res.body.res.mbTransaction.channelName;
	            	this.commodityName_1=res.body.res.mbTransaction.commodityName;
	            	this.id_1=res.body.res.mbTransaction.id;
	            	this.mbTransactionAttList=res.body.res.mbTransaction.mbTransactionAttList;
	            	this.refundReason=res.body.res.mbTransaction.refundReason;
	            	var list = this.mbTransactionAttList;
		                	/*for(i=0;i<list.length;i++){
		                		////console.log(list[i]);
		                	}*/
		                	var array = "";
				            $.each(list, function(i){
					            var  img_list= list[i].path;
					            array+=img_list+","
				            });
				            $("#attrs").val(array)
                })
            },
            applyRefund:function(id){
            	var _this = this;
            	var attrsImg=$("#attrs").val();
            	var refundAmount1=this.amount_1*100;
            	var refundAmount=Math.round(refundAmount1);
            	var refundReason=this.refundReason;
            	var ary = [];
            	strs=attrsImg.split(",");
            	if(strs.length>4){
            		alert("图片不能超过三张");
            		return false;
            	}
            	this.$http.post("/deal/mbTransaction/updateToWait",{"id":id,"refundAmount":refundAmount,"refundReason":refundReason,"path":attrsImg}).then(function(res){
                	 ////console.log(res)
                	 var code=res.body.code;
                	 var msg=res.body.msg;
                	 if(code=="0000"){
                	 	alert(msg);
                	 	// $("#myModal").modal("hide");
                	 	$("#btn-default").click();
                	 	_this.listenDate(this.cur);
                	 }else if(code=="0001"){
                	 	alert(msg);
                	 }
				});
            },
            traCountFun:function(){
                var start = parseInt((new Date($("#datepicker").val())).getTime()-28800000);
				var end = parseInt((new Date($("#datepicker1").val())).getTime()-28800000+86399000);
                var channelId = this.channelId;
                    var status = this.status;
                    var id = this.id;
                    var payee = this.payee;
                    var buyers = this.buyers;
                    var dateType = this.dateType;
                    var busType = this.busType;
                    var baseOrderId = this.baseOrderId;
            	    this.$http.post("/deal/mbTransaction/jsonTraPublicCount",{
						"channelId": channelId,
						"status": status,
						"id": id,
						"payee": payee,
						"buyers": buyers,
						"dateType": dateType,
						"busType": busType,
						"baseOrderId": baseOrderId,
						"start": start,
						"end": end,
					}).then(function(res){
						//console.log(res)
                        $("#tjCount").html(res.body.res.numberAmount.number);
                        $("#tjAmount").html((res.body.res.numberAmount.amount/100)+"元");
                	    //this.traCount=res.body.res.numberAmount;
				    });
                },
            delImg:function(id){
            	////console.log(id);
            	this.$http.post("/deal/mbTransaction/deleteAtt",{"id":id}).then(function(res){

				});
            }
        }
    })
</script>