<% include ../header.ejs %>

<div id="content">
	<div id="content-header">
		<div id="breadcrumb">
			<a href="#" class="tip-bottom"><i class="icon-home"></i>往来交易</a>
			<a href="#" class="current">推单</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="loading">
			<img src="/images/jiazai.gif" alt="">
		</div>
		<hr>
		
		<a  class="btn btn-primary" href="/deal/credit" class="btn btn-primary" target="liquidation">放款</a>
		<a  class="btn btn-primary" href="/deal/pushSingle" class="btn btn-primary" target="liquidation">推单</a>
		<a  class="btn btn-primary" href="/deal/repayment" class="btn btn-primary" target="liquidation">还款</a>
		<a  class="btn btn-primary" href="/deal/refund" class="btn btn-primary" target="liquidation">退款</a>
		<a  class="btn btn-primary" href="/deal/serviceCharge" class="btn btn-primary" target="liquidation">服务费</a>
		<!--<a  class="btn btn-primary" href="/deal/capitalLoan" class="btn btn-primary" target="liquidation">资金放款</a>-->
		<a  class="btn btn-primary" href="/deal/cash" class="btn btn-primary" target="liquidation">兑付</a>
		

		<hr>
		<div class="row-fluid">
			<div class="widget-box">
				<div class="widget-content nopadding">
					<form class="form-horizontal" method="post" action="">
						<table class="table table-striped">
							<tbody>
								<tr class="odd gradeX">
									<td width="85" style="white-space: nowrap;">交易时间 :</td>
									<td width="600" style="white-space: nowrap;">
										<input type="text" class="input" id="datepicker" readonly="readonly" name="repaymentStart">
										<input type="text" class="input" id="datepicker1" readonly="readonly" name="repaymentEnd">
									</td>
									<td width="85" style="white-space: nowrap;">时间类型 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" v-model="timeType">
											<option value="">请选择</option>
											<option value="1">创建时间</option>
											<option value="2">完成时间</option>
											<option value="3">打款时间</option>
										</select>
									</td>
									
									
									
								</tr>
								<tr>
									<td width="85" style="white-space: nowrap;">业务类型 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" v-model="productType">
											<option value="">请选择</option>
											<option value="1">现金贷</option>
											<option value="2">商品贷</option>
										</select>
									</td>
									<td width="85" style="white-space: nowrap;">交易订单号 :</td>
									<td width="" style="white-space: nowrap;">
										<input type="text" class="input" v-model="transactionOrderId">
									</td>
								</tr>
								<tr class="odd gradeX">
									
									<td width="85" style="white-space: nowrap;">交易状态 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" v-model="status">
											<option value="">请选择</option>
											<option value="2">失败</option>
											<option value="3">审核中</option>
											<option value="4">审核通过</option>
											<option value="5">拒绝</option>
											<option value="6">已放款</option>
										</select>
									</td>
									<td width="85" style="white-space: nowrap;">商户订单号 :</td>
									<td width="" style="white-space: nowrap;">
										<input type="text" class="input" name="" v-model="channelOrderId">
									</td>
								</tr>
								<tr class="odd gradeX">
									<td width="85" style="white-space: nowrap;">账户主体 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" id="" required v-model="accountType">
											<option value="">请选择</option>
											<option v-for="bb in licenseList" v-bind:value="bb.id" v-text="bb.enterpriseName"></option>
										</select>
									</td>
									<td width="85" style="white-space: nowrap;">资方 :</td>
									<td width="" style="white-space: nowrap;">
										<select name="" v-model="channelType">
											<option value="">请选择</option>
											<option value="1">久富</option>
											<option value="2">蜡笔</option>
											<option value="3">团贷</option>
											<option value="4">小鸡理财</option>
											<option value="5">自放款</option>
											<option value="6">拿财</option>
										</select>
									</td>
												
								</tr>
								<tr>
									<td width="85" style="white-space: nowrap;">基础订单号 :</td>
									<td width="" style="white-space: nowrap;"><input type="text" class="input" name="" v-model="basicOrderId"></td>	
									<td width="85" style="white-space: nowrap;">用户账户 :</td>
									<td width="" style="white-space: nowrap;"><input type="text" class="input" name="" v-model="others"></td>
								</tr>
								<tr>
									<td width="85" style="white-space: nowrap;"><button type="button" id="submit" class="btn btn-success" @click="listenDate(1)">查找</button></td>
									<td width="" style="white-space: nowrap;"><button type="button" id="submit" class="btn btn-success" @click="resets()" >重置</button></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>

					</form>
				</div>
			</div>
		</div>
		<hr>
		<div class="row-fluid">
			<div class="span6">
					<div class="span12">
						<div class="span-box-one" style="background: rgb(255, 255, 255);">
							<p><span style="font-size: 28px;" id="tjCount">0</span><br><span style="margin: 0px 10px;">总订单数</span></p>
						</div>
					</div>

			</div>
			<div class="span6">
					<div class="span12">
						<div class="span-box-one" style="background: rgb(255, 255, 255);">
							<p><span style="font-size: 28px;" id="tjAmount">0</span><br><span style="margin: 0px 10px;">总交易额</span></p>
						</div>
					</div>
			</div>
		</div>
		<hr>
		<div class="row-fluid tab-two" style="display: none">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
						<h5>订单明细</h5>
					</div>
					<div class="widget-content nopadding" id="common_list">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>创建时间</th>
									<th>业务类型</th>
									<th>交易订单号</th>
									<th>商户订单号</th>
									<th>我方账户</th>
									<th>资方</th>
									<th>用户|银行卡</th>
									<th>推单金额</th>
									<th>状态</th>
									<th>基础订单号</th>
									<th width="100" style="white-space: nowrap;">操作</th>
								</tr>
							</thead>
							<tbody class="table_toggle">
								<tr v-for="msg in collectionList">
									<td v-text="msg.createTime"></td>
									<td v-text="msg.businessType"></td>
									<td v-text="msg.transactionId"></td>
									<td v-text="msg.channelId"></td>
									<td v-text="msg.account"></td>
									<td v-text="msg.channelType"></td>
									<td >{{msg.name}} {{msg.bankNo}}</td>
									<td v-text="msg.amount/100"></td>
									<td v-text="msg.status"></td>
									<td v-text="msg.dealId"></td>
									<td>
										<a href="/basics/particulars" target="liquidation" class="btn_a" @click="tui(msg.appId,msg.dealId)">详情</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="page" style="display: none">
				<vue-nav :cur.sync="cur" :all.sync="all" v-on:btn-click="listenDate"></vue-nav>
			</div>
		</div>
	</div>
	<% include ../footer.ejs %>

	<script>
		$(function() {
			//dataTime(1);
			$("#time_one").click();
			$(".pay_list").click();
			$(".enquiries").click();
		})
	</script>
	<script>
		function dataTime(num) { ////console.log(num)
			var yugi = function(num) {
				var now1 = new Date;
				var getFullYear = now1.getFullYear();
				var getMonth = now1.getMonth() + 1;
				var getDate = now1.getDate();
				var DateTime1 = getFullYear + "-" + getMonth + "-" + getDate;
				$("#datepicker1").val(DateTime1)
				var now = new Date;
				now.setDate(now.getDate() - num);
				var getFullYear = now.getFullYear();
				var getMonth = now.getMonth() + 1;
				var getDate = now.getDate();
				var DateTime = getFullYear + "-" + getMonth + "-" + getDate;
				$("#datepicker").val(DateTime)
				if(num == "1") {
					$("#datepicker").val(DateTime);
					$("#datepicker1").val(DateTime);
				}
				var timestamp = new Date();
				//alert(starttimeHaoMiao);
				var DateTime_starttimeHaoMiao = DateTime;
				var DateTime_starttimeHaoMiao1 = DateTime1;
				var starttimeHaoMiao = (new Date(DateTime_starttimeHaoMiao)).getTime();
				var starttimeHaoMiao1 = (new Date(DateTime_starttimeHaoMiao1)).getTime();
				$("#starttimeHaoMiao").val(starttimeHaoMiao)
				$("#starttimeHaoMiao1").val(starttimeHaoMiao1)
				return now;
			}
			yugi(num);
		}

		$(function() {

			$("#datepicker").datepicker({
				changeMonth: true,
				changeYear: true,
				yearRange: "1900:2050",
			})
			$("#datepicker1").datepicker({
				changeMonth: true,
				changeYear: true,
				yearRange: "1900:2050",
			})
		});
	</script>
	<script type="text/javascript" src="/javascripts/bower_components/jquery/jquery.min.js"></script>
	<script src="/javascripts/time_filter.js"></script>

	<script src="/javascripts/jquery-ui.js"></script>
	<script src="/javascripts/vue-2.42.js"></script>
	<script src="/javascripts/vue-resource.js"></script>
	<script src="/javascripts/public_page.js"></script>
	<script src="/javascripts/time_filter.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/jquery.flot.min.js"></script>
	<script src="/javascripts/jquery.flot.pie.min.js"></script>
	<script src="/javascripts/jquery.flot.resize.min.js"></script>
	<script src="/javascripts/matrix.js"></script>
	<script src="/javascripts/jquery.peity.min.js"></script>
	<script>
		var total = "";
		var datasets = "";
		new Vue({
			el: '#content',
			data: {
				all: 0, //总页数
				cur: 1, //当前页码
				timeType:"",//时间类型
				appid:"",//
				status:"",//推单状态
				basicOrderId:"",//基础订单号
				transactionOrderId:"",//交易订单号
				productType:"",
				channelOrderId:"",//商户订单号
				channelType:"",//资方类型
				others:"",//用户账户
				accountType: "", //公司主体
				licenseList: "",
				totalNum:"",
				totalAmount:"",
				collectionList:"",
				totalOrderId:"",
			},
			components: {
				'vue-nav': pagenav
			},
			watch: {
				timeType: function(oldValue, newValue) {
					if(this.timeType==""){
						$("#datepicker").val("");
						$("#datepicker1").val("");
					}
				}
			},
			mounted: function() {
				this.qyList();
				this.listenDate(this.cur);
			},
			methods: {
				listenDate: function(data) {
					var _this = this;
					var timeStart = parseInt((new Date($("#datepicker").val())).getTime()-28800000);
					var timeEnd =parseInt((new Date($("#datepicker1").val())).getTime()-28800000);
					var timeType = parseInt(this.timeType);
					var productType = parseInt(this.productType);
					var accountType = parseInt(this.accountType);
					var status = parseInt(this.status);
					var basicOrderId = parseInt(this.basicOrderId);
					var transactionOrderId = parseInt(this.transactionOrderId);
					var channelOrderId = parseInt(this.channelOrderId);
					var channelType = parseInt(this.channelType);
					var others = parseInt(this.others);
					var pageSize = 10;
					if(this.timeType!=""){
						if(isNaN(timeStart) || isNaN(timeEnd)){
							alert("请选择交易时间段");
							$(".tab-two").hide();
							$("#page").hide();
							$("#tjCount").html(0);
                        	$("#tjAmount").html(0+"元");
							return false;
						}
					}
					if(isNaN(timeStart)==false || isNaN(timeEnd)==false){
						if(this.timeType==""){
							alert("请选择时间类型");
							$(".tab-two").hide();
							$("#page").hide();
							$("#tjCount").html(0);
                        	$("#tjAmount").html(0+"元");
							return false;
						}
					}
					$(".loading").show();
					$(".tab-two").show();
					$("#page").show();

					this.$http.post("/deal/transactionManager/pushOrder", {
						"pageNum": data,
						"pageSize": pageSize,
						"timeStart": timeStart,
						"timeEnd": timeEnd,
						"timeType": timeType,
						"productType": productType,
						"accountType":accountType,
						"status": status,
						"basicOrderId": basicOrderId,
						"transactionOrderId": transactionOrderId,
						"channelOrderId": channelOrderId,
						"channelType": channelType,
						"others": others,

					}).then(function(res) {
						//console.log(res);
						$(".loading").hide();
						if(res.body.code == "D1007") {
							alert(res.body.msg);
							return false;
						}
						if(res.body.code == "D1006") {
							alert(res.body.msg);
							return false;
						}
						_this.collectionList = res.body.res.data;
						_this.pageTotal = res.body.res.size;
						_this.totalNum = res.body.res.total;
						var totalAmount = res.body.res.totalAmount/100;
						//console.log(_this.totalNum);
						$(".table_toggle").show();
						if(data <= 1) {
							total = Math.ceil(_this.totalNum / 10);
							
							localStorage.setItem("total", _this.totalNum);
							localStorage.setItem("Amount", totalAmount);
							var totals=localStorage.getItem("total");
							var Amount=localStorage.getItem("Amount");
							$("#tjCount").html(totals);
                        	$("#tjAmount").html(Amount+"元");
							
							
							_this.totalOrderId = _this.totalNum;
						}
						
						
						_this.all = total;
						_this.cur = data;
					});

				},
				
				resets:function(){
	        		$("#datepicker").val("");
	        		$("#datepicker1").val("");
					this.timeStart="";
					this.timeEnd="";
					this.timeType="";
					this.productType="";
					this.accountType="";
					this.status="";
					this.basicOrderId="";
					this.transactionOrderId="";
					this.channelOrderId="";
					this.channelType="";
					this.others="";
	        	},
				
				
				//企业列表查询
				qyList: function() {
					var _this = this;
					this.$http.post("/pay/product/jsonEnt").then(function(res) {
						// //console.log(res)
						this.licenseList = res.body.res.enterprise;
					});
				},
				tui:function(appid,dealId){
            	    sessionStorage.setItem('appid',appid);
            	    sessionStorage.setItem('dealId',dealId);
                },
			}
		})
	</script>
	
	<!--Real-time-chart-js-->
