<!DOCTYPE html>
<html lang="en">

	<head>
		<title>沐金农清结算系统</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="/stylesheets/fullcalendar.css" />
		<link rel="stylesheet" href="/stylesheets/matrix-style.css" />
		<link rel="stylesheet" href="/stylesheets/matrix-media.css" />
		<link href="/stylesheets/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<link rel="stylesheet" href="/stylesheets/jquery.gritter.css" />		
        <link rel="stylesheet" href="/stylesheets/datepicker.css" />
        <link rel="stylesheet" href="/stylesheets/colorpicker.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
	    <link rel="stylesheet" href="/stylesheets/jquery-ui.css" />
	</head>

	<body>

		